body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: crimson;
}

.nav-menu {
    flex-grow: 1;
}

.nav-menu:hover {
    background-color: yellow;
    cursor: pointer;
}

#dungeon-btn {
    border-left: 3px solid black;
}

#dgn {
    background-image: url("/assets/images/bgm.gif");
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 50px 50px 10px;
    min-height: 500px;
    width: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    border: 1px solid green;
    bottom: 0;
}