body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/assets/images/background.png");
    background-size: cover;
}

nav a {
    text-decoration: none;
    color: crimson;
}

.nav-menu:hover {
    cursor: pointer;
}

/* this is for if we end up using cards for the background of the stats text */
.card {
    background-color: #250707;
    padding: 10px;
    border-radius: 5px;
    width: 15em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#dgn {
    background-image: url("/assets/images/bgm.gif");
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 50px 50px 10px;
    min-height: 500px;
    width: 100%;
}

.footer {
    position: absolute;
    width: 95%;
    bottom: 0;
    text-align: right;
}

#playerStats {
    display: inline-block;
    font-size: 18px;
    background-color: #250707;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#mnstrinfo {
    display: inline-block;
    font-size: 18px;
    background-color: #250707;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#exp {
    text-align: center;
    margin: auto;
}